body {
  font-family: 'Raleway', sans-serif;
}

.font-inter {
  font-family: 'inter', sans-serif;
}

.font-italiana {
  font-family: 'Italiana', serif; /* Use serif or sans-serif based on your preference */
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}