# Set default behavior to automatically normalize line endings.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.jsx text eol=lf
*.js text eol=lf
*.css text eol=lf
