# Node modules
node_modules/

# Build output for React
/build/
dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary files
.DS_Store
Thumbs.db
*.tgz

# IDE specific files
.vscode/
.idea/
*.suo
*.user
*.userprefs

# ASP.NET build results
[Bb]in/
[Oo]bj/
.vs/

# Coverage directory used by tools like istanbul
coverage/

# Miscellaneous
*.pem
*.p12
*.log

# Recycle Bin used on file shares
$RECYCLE.BIN/
